{{ 'section-featured-products.css' | asset_url | stylesheet_tag }}

{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}


{%- liquid
  assign featured_products = section.settings.featured_products | map: 'handle'
  assign first_featured_product = nil

  assign show_desktop_slider = true
  assign show_mobile_slider = true
-%}
{{ template.name }}
<div class="featured-products-section">
  <div
    class="collection section-{{ section.id }}-padding"
    id="collection-{{ section.id }}"
    data-id="{{ section.id }}"
  >
    <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
      {%- if section.settings.title != blank -%}
        <h2 class="title inline-richtext {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {{ section.settings.title }}
        </h2>
      {%- endif -%}
    </div>
    <slider-component class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop{% endif %} slider-component-desktop {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <ul
        id="Slider-{{ section.id }}"
        data-id="{{ section.id }}"
        class="grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %} slider slider--desktop slider--tablet grid--peek"
        role="list"
        aria-label="{{ 'general.slider.name' | t }}"
      >
        {% assign skip_card_product_styles = false %}

        {%- for product_handle in featured_products -%}
          {%- assign product = all_products[product_handle] %}

          {% if forloop.index == 1 %}
            {% assign first_featured_product = product %}
          {% endif %}

          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="grid__item slider__slide {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {% render 'card-product',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              image_shape: section.settings.image_shape,
              lazy_load: true,
              show_secondary_image: true,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              skip_styles: skip_card_product_styles,
              section_id: section.id,
              quick_add: false,
              show_add_to_cart_button: true,
              is_add_to_cart_popup_enabled: section.settings.is_add_to_cart_popup_enabled
            %}
          </li>
        {% endfor %}
      </ul>

      <div class="slider-buttons">
        <button
          type="button"
          class="slider-button slider-button--prev"
          name="previous"
          aria-label="{{ 'general.slider.previous_slide' | t }}"
          aria-controls="Slider-{{ section.id }}"
        >
          <span class="svg-wrapper">
            {{- 'icon-caret.svg' | inline_asset_content -}}
          </span>
        </button>
        <div class="slider-counter caption">
          <span class="slider-counter--current">1</span>
          <span aria-hidden="true"> / </span>
          <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
          <span class="slider-counter--total">{{ products_to_display }}</span>
        </div>
        <button
          type="button"
          class="slider-button slider-button--next"
          name="next"
          aria-label="{{ 'general.slider.next_slide' | t }}"
          aria-controls="Slider-{{ section.id }}"
        >
          <span class="svg-wrapper">
            {{- 'icon-caret.svg' | inline_asset_content -}}
          </span>
        </button>
      </div>
    </slider-component>

    {% if section.settings.image_shape == 'arch' %}
      {{ 'mask-arch.svg' | inline_asset_content }}
    {%- endif -%}

    {% if request.page_type == 'product' and first_featured_product and section.settings.is_add_to_cart_popup_enabled %}
      {% render 'confirmation-add-to-cart-modal', 
        first_featured_product: first_featured_product, 
        add_to_cart_popup_displays_count: section.settings.add_to_cart_popup_displays_count 
      %}
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-products.name",
  "settings": [
    {
        "type": "inline_richtext",
        "id": "title",
        "label": "t:sections.featured-products.settings.title.label"
    },
    {
        "type": "product_list",
        "id": "featured_products",
        "label": "t:sections.featured-products.settings.featured_products.label"
    },
    {
        "type": "checkbox",
        "id": "is_add_to_cart_popup_enabled",
        "default": false,
        "label": "t:sections.featured-products.settings.add_to_cart_popup_enabled.label"
    },
    {
        "type": "number",
        "id": "add_to_cart_popup_displays_count",
        "label": "t:sections.featured-products.settings.add_to_cart_popup_displays_count.label",
        "visible_if": "{{ section.settings.is_add_to_cart_popup_enabled }}"
    },
    {
        "type": "inline_richtext",
        "id": "add_to_cart_popup_title",
        "label": "t:sections.featured-products.settings.add_to_cart_popup_title",
        "visible_if": "{{ section.settings.is_add_to_cart_popup_enabled }}"
    },
    {
        "type": "product_list",
        "id": "add_to_cart_popup_products",
        "label": "t:sections.featured-products.settings.add_to_cart_popup_products.label",
        "limit": 2
    }
  ],
  "presets": [
    {
        "name": "t:sections.featured-products.name"
    }
  ]
}
{% endschema %}
